@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* body {
  font-family: "Roboto";
  background-color: #fefdf8;
}

footer * div {
  width: 100%;
  height: 40px;
  display: inline-block;
  background-color: #fffcdd;
  color: #394166;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}